.table {-moz-box-flex:1;border: 1px solid #C4C1BD;background: #ffffff;font-family: tahoma,arial,helvetica,sans-serif;}

.table-head {padding:0; margin:0;border-bottom: 1px solid #C4C1BD;color: #414141;background: -moz-linear-gradient(top,  #ffffff,  #EAE9E8);}
.table-head.title {-moz-box-flex:1;padding: 4px 0px 3px 8px; border: none;}
.table-head.button {-moz-appearance: none; display: block; min-height: 20px; min-width: 28px; background: -moz-linear-gradient(top,  #ffffff,  #EAE9E8); cursor: pointer; border: none; border-left: 1px solid #ede9e2;}
.table-head.button:hover {box-shadow: inset 0 0 2px rgba(255,255,0,0.8);}
.table-head.button.press, .table-head.button:hover:active {background: -moz-linear-gradient(bottom,  #ffffff,  #EAE9E8);}

.table-head.button.sort {background: url("chrome://lsfbar/skin/images/sort-16x16.png") no-repeat center, -moz-linear-gradient(top,  #ffffff,  #EAE9E8) !important;}
.table-head.button.sort:hover:active {background: url("chrome://lsfbar/skin/images/sort-16x16.png") no-repeat center, -moz-linear-gradient(bottom,  #ffffff,  #EAE9E8) !important;}
.table-head.button.clear {background: url("chrome://lsfbar/skin/images/clear-16x16.png") no-repeat center, -moz-linear-gradient(top,  #ffffff,  #EAE9E8) !important;}
.table-head.button.clear:hover:active {background: url("chrome://lsfbar/skin/images/clear-16x16.png") no-repeat center, -moz-linear-gradient(bottom,  #ffffff,  #EAE9E8) !important;}

.table-items {overflow-y: auto;-moz-box-flex: 1; margin: 0; padding: 0;height: 200px;}
.table-items-empty {-moz-box-flex: 1;}
.table-items-box {-moz-box-flex: 1;}

.table-item {border-bottom: 1px solid #ede9e2;margin: 0;padding: 0; min-height: 24px;}
.table-item.hide {display: none;}
.table-item.content {-moz-box-flex: 1;padding: 2px 4px 2px 4px;}
.table-item.content:hover {background: #FCE4DA;}
.table-item.content.head {background: -moz-linear-gradient(top,  #ffffff,  #f2eee7); cursor: pointer;}
.table-item.button {-moz-appearance: none; display: block; min-height: 20px; min-width: 28px; background: -moz-linear-gradient(top,  #ffffff,  #f2eee7); cursor: pointer; border: none; border-left: 1px solid #ede9e2; border-bottom: 1px solid #ede9e2;}
.table-item.button.press, .table-item.button:hover:active {background: -moz-linear-gradient(bottom,  #ffffff,  #E1DED7);}
.table-item.button:not(.press):hover {box-shadow: inset 0 0 2px rgba(255,255,0,0.8);}
.table-item.content.button {border-bottom: none;}
.table-item.content:hover.button:not(.press) {border-bottom: none;background: -moz-linear-gradient(top,  #ffffff,  #f2eee7);}
.table-item.content:hover:active.button:not(.press) {background: -moz-linear-gradient(bottom,  #ffffff,  #E1DED7);}

.table-item.button.selectall {background: url("chrome://lsfbar/skin/images/selectall-16x16.png") no-repeat center, -moz-linear-gradient(top,  #ffffff,  #f2eee7) !important;}
.table-item.button.selectall:hover:active {background: url("chrome://lsfbar/skin/images/selectall-16x16.png") no-repeat center, -moz-linear-gradient(bottom,  #ffffff,  #f2eee7) !important;}
.table-item.button.clear {background: url("chrome://lsfbar/skin/images/clear-16x16.png") no-repeat center, -moz-linear-gradient(top,  #ffffff,  #f2eee7) !important;}
.table-item.button.clear:hover:active {background: url("chrome://lsfbar/skin/images/clear-16x16.png") no-repeat center, -moz-linear-gradient(bottom,  #ffffff,  #f2eee7) !important;}
.table-item.button.edit {background: url("chrome://lsfbar/skin/images/pencil-16x16.png") no-repeat center, -moz-linear-gradient(top,  #ffffff,  #f2eee7) !important;}
.table-item.button.edit:hover:active {background: url("chrome://lsfbar/skin/images/pencil-16x16.png") no-repeat center, -moz-linear-gradient(bottom,  #ffffff,  #f2eee7) !important;}
.table-item.button.del {background: url("chrome://lsfbar/skin/images/edittrash-16x16.png") no-repeat center, -moz-linear-gradient(top,  #ffffff,  #f2eee7) !important;}
.table-item.button.del:hover:active {background: url("chrome://lsfbar/skin/images/edittrash-16x16.png") no-repeat center, -moz-linear-gradient(bottom,  #ffffff,  #f2eee7) !important;}

checkbox.table-item .checkbox-label-box {-moz-appearance: none; border: none; margin-left: 2px; padding: 2px 4px 2px 4px;}
checkbox.table-item.wait .checkbox-label-box {padding: 2px 4px 2px 20px !important; background: url("chrome://lsfbar/skin/images/wait-arrows.gif") no-repeat left center;}
checkbox.table-item.error .checkbox-label-box {padding: 2px 4px 2px 20px !important; color: #ff675f; font-weight: bold; background: url("chrome://lsfbar/skin/images/error-16x16.png") no-repeat left center;}
checkbox.table-item.success .checkbox-label-box {padding: 2px 4px 2px 20px !important; color: #68BA5D; font-weight: bold; background: url("chrome://lsfbar/skin/images/success-16x16.png") no-repeat left center;}
checkbox.table-item.waittime .checkbox-label-box {padding: 2px 4px 2px 20px !important;background: url("chrome://lsfbar/skin/images/hourglass-16x16.png") no-repeat left center;}
